<a href="/users/new"><div>Register</div></a>

<form method="GET" action="/log_in">

  <label for="username">Username:</label><br>
  <input name="name" id="username"> <br>

  <label for="password">Password:</label><br>
  <input name="password" id="password"> <br>

  <button>Log In</button>

</form>