<% if !session[:user_id] %>
  <a href="/users/new"><div>Register</div></a>

  <form method="POST" action="/log_in">

    <label for="username">Username:</label><br>
    <input name="name" id="username"> <br>

    <label for="password">Password:</label><br>
    <input name="password" id="password"> <br>

    <button>Log In</button>
  </form>

<% else %>
  <a href="/log_out">Log Out</a>

<% end %>